
/*Layout skillnader vid olika skärmstorlekar*/
@media (min-width: 36rem) {
    header{
        flex-direction: row;
    }
    .content{
        flex-direction: row-reverse;
    }
}



/* the great navbar mess */
.navbar {
    display: flex; /*-*/
    padding: 1rem; /*-*/
    font-size: 1.333rem; /*-*/
    background-color: var(--color-bluegreen); /*-*/
    /*padding: 0;*/
    position: sticky; /*media query*/
}
/*?????*/
.navbar__collapse-show {
    display: block !important;
    width: 100%;
}
.navbar__toggle {
    border: none;/*-*/
    background-color: transparent;/*-*/
}
.nav {
    list-style: none;/*-*/
    display: flex;/*-*/
    flex-direction: row;/*media query*/
    margin: 0; /*adjust later*/
}
.nav a {
    text-decoration: none; /*_*/
}
.nav-link {
    color: var(--color-white);/*-*/
}
.nav-link:hover {
    text-decoration: none;/*-*/
    color: var(--color-orange);/*-*/
}
@media (max-width: 768px) {
    .nav {
        padding-left: 0;
        flex-direction: column;
    }
    .navbar{
        justify-content: space-between;
    }
    .navbar__collapse {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar__toggle {
        display: none;
    }
    .navbar{
        position: fixed;
    }
    .nav{
        flex-direction: column;
    }
    header{
        flex-direction: row;
    }
}

.brand {
    color: var(--color-light);
    text-decoration: none;
}

/* listan på dorgs, inneh¨åller flera cards */
.staff {
    display: flex;
    column-gap: 1rem;
    flex-direction: column;
}

.card {
   min-width: 10rem;
}

.card > * {
    margin-top: 0.777rem;
}

.card-header > img {
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .staff {
        flex-direction: column;
    }
}
